#title {
	background-color: white;
	font-size: 25px;
	text-align: center;
	width: 30%;
	margin: auto;
	margin-top: 20px;
}

#game {
	background-color: white;
	font-size: 25px;
	text-align: center;
	width: 30%;
	margin: auto;
	margin-top: 20px;
}

#answer {
	font-size: 35px;
	color: blue; 
}